/* html {
	height: 100%;
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	} */

  html {
    /* height:100%; */
    /* overflow: scroll; */
  }
  
  body {
    margin:0;
     width: 100%;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:absolute;
    text-align:center;
    top:60%;
    transform:translate(-500px, -400px);
  }


  @media only screen and (max-width: 768px){

    .content {
      background-color:rgba(255,255,255,.8);
      border-radius:.25em;
      box-shadow:0 0 .25em rgba(0,0,0,.25);
      box-sizing:border-box;
      left:50%;
      padding:10vmin;
      position:absolute;
      text-align:center;
      transform:translate(-200px, -250px);
    }


  }
  
  h1 {
    /* font-family:monospace; */
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

body {
  
}
.topBar {
  background: #352b2b;
  color: #d6d5a3;
  padding: 20px;
  text-align: center;
}

.smallinput {
  max-width: 270px;
  margin-left: 30px;
}

.mainContent {
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.A4Page {
  display: flex;
  width: 210mm;
  background-color: white;
  height: 200mm;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  display: block;
}

li:before {
  content: "🌑";
  font-family: "Glyphicons Halflings";
  font-size: 9px;
  float: left;
  margin-top: 7px;
  margin-left: -3px;
  margin-right: 11px;
}

.qrBoxOuter {
  padding: 4mm;
  background: white;
  border: 1px solid black;
  margin-top: 2mm;
  margin-bottom: 2mm;
}

#box1 {
  width: 76mm;
  height: 76mm;
}
.upiLogo {
  width: 56%;
}
#box1 img {
  width: 100%;
}

/* .hrline {
  width: 90%;
  background-color: #433b52;
  height: 1mm;
} */

/* 
.freespace{
  height: 90%;
} */


svg{
  margin: -220px auto;
}

.container {
  display: block;
  /* width: 100%; */
  /* max-width: 600px; */
}


.rangeSlider {
  position: relative;
  /* height: 6px; */
  margin: 40px;
  /* margin-top: 45px;
  margin-bottom: 12px; */
  border-radius: 500px;
  background-color: #ddd;
}
.rangeSlider--animate .rangeSlider__handle,
.rangeSlider--animate .rangeSlider__tooltip {
  transition: left 300ms;
}
.rangeSlider--animate .rangeSlider__range {
  transition: left 300ms, width 300ms;
}
.rangeSlider__handle {
  display: inline-block;
  position: absolute;
  top: -12px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #999;
}
.rangeSlider__handle:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: calc(50% - 8px);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
}
.rangeSlider__handle:after {
  content: attr(data-value);
  display: block;
  position: absolute;
  top: -33px;
  left: -25px;
  width: 80px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  transition: margin 300ms;
}
.rangeSlider__handle:focus {
  outline: 0;
}
.rangeSlider__handle--from {
  left: -15px;
}
.rangeSlider__handle--to {
  right: -15px;
}
.rangeSlider__handle--active {
  z-index: 1;
}
.rangeSlider__range {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #428bca;
  border-radius: 500px;
}
.rangeSlider__tooltips {
  position: absolute;
  top: -45px;
  width: 100%;
  height: 25px;
  filter: url("#composite-goo");
}
.rangeSlider__tooltip {
  position: absolute;
  width: 80px;
  height: 25px;
  background-color: #333;
}
.rangeSlider__tooltip--from {
  left: -40px;
}
.rangeSlider__tooltip--to {
  right: -40px;
}



* {
  font-family: 'Helvetica';
}
.im-buttons1, .im-buttons2, .im-buttons3, h5 {
  display: inline-block;
}
.im-buttons1 label, .im-buttons2 label, .im-buttons3 label, h5 label {
  display: inline-block;
  /* font-size: 16px;
  font-weight: 600;
  line-height: 1.65; */
}
.im-buttons1 label, .im-buttons2 label, .im-buttons3 label span, h5 label span {
  display: inline-block;
}
.radio {
  margin: 16px 0;
  display: inline-block;
  cursor: pointer;
}
.radio input {
  display: none;
}
.radio input#a-button1 + span:after, #a-button2 + span:after, #a-button3 + span:after {
  border: rgb(42, 63, 42) 2px solid;
}
.radio input#b-button1 + span:after, #b-button2 + span:after, #b-button3 + span:after {
  border: rgb(192, 23, 23) 2px solid;
}
.radio input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  position: relative;
}
.radio input + span:not(:empty) {
  padding-left: 30px;
  margin-left: 20px;
}
.radio input + span:before, .radio input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}
.radio input + span:before {
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span#a-button1:before, .radio input + span#a-button2:before, .radio input + span#a-button3:before {
  background: rgb(38, 161, 38);
}
.radio input + span#b-button1:before, .radio input + span#b-button2:before, .radio input + span#b-button3:before {
  background: rgb(150, 40, 40);
}
.radio input + span:after {
  background: rgb(231, 228, 228);
  transform: scale(0.78);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
  transform: scale(1.04);
}
.radio input:checked + span:after {
  transform: scale(0.4);
  transition: transform 0.3s ease;
}
.radio input#a-button1:checked + span:before, #a-button2:checked + span:before, #a-button3:checked + span:before {
  background: rgb(157, 187, 143);
  border: 2px solid #285335;
}
.radio input#a-button1:checked + span:after, #a-button2:checked + span:after, #a-button3:checked + span:after {
  background: #6eb37a;
}
.radio input#b-button1:checked + span:before, #b-button2:checked + span:before, #b-button3:checked + span:before {
  background: rgb(201, 145, 145);
  border: 2px solid rgb(104, 51, 20);
}
.radio input#b-button1:checked + span:after, #b-button2:checked + span:after, #b-button3:checked + span:after {
  background: rgb(201, 133, 133);
}
.radio:hover input + span:before {
  transform: scale(0.92);
}
.radio:hover input + span:after {
  transform: scale(0.74);
}
.radio:hover input:checked + span:after {
  transform: scale(0.4);
}



body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}



table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  
 
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}