@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body
{
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}
#header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#header .logo
{
  color: #094b65;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

#header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#header ul li
{
  list-style: none;
  margin-left: 20px;
}

#header ul li a
{
  text-decoration: 0;
  padding: 6px 15px;
  color: #094b65;
  border-radius: 20px;
}

#header ul li a.active,
#header ul li a:hover
{
  background: #094b65;
  color: #fff;
}

section
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* goal of this is to insert transparent transition */
/* there is no content, so content property is empty */

section::before
{
  content:'';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* 100px high is a gradient transition */
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 2;
}

section img
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}

section #text
{
  position: absolute;
  color: #094b65;
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: 'Rancho', cursive;
  transform: translateY(-50%);
}

section #text span
{
  font-size: 0.20em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

#btn
{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color: #094b65;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
}

#btn:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.sec
{
  position: relative;
  padding: 100px;
  background: #094b65;
}

.sec h2
{
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}

.sec p
{
  font-size: 1em;
  color: #fff;
}
  


* {
  font-family: 'Helvetica';
}
.im-buttons1, .im-buttons2, .im-buttons3, h5 {
  display: inline-block;
}
.im-buttons1 label, .im-buttons2 label, .im-buttons3 label, h5 label {
  display: inline-block;
  /* font-size: 16px;
  font-weight: 600;
  line-height: 1.65; */
}
.im-buttons1 label, .im-buttons2 label, .im-buttons3 label span, h5 label span {
  display: inline-block;
}
.radio {
  margin: 16px 0;
  display: inline-block;
  cursor: pointer;
}
.radio input {
  display: none;
}
.radio input#a-button1 + span:after, #a-button2 + span:after, #a-button3 + span:after {
  border: rgb(42, 63, 42) 2px solid;
}
.radio input#b-button1 + span:after, #b-button2 + span:after, #b-button3 + span:after {
  border: rgb(192, 23, 23) 2px solid;
}
.radio input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  position: relative;
}
.radio input + span:not(:empty) {
  padding-left: 30px;
  margin-left: 20px;
}
.radio input + span:before, .radio input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}
.radio input + span:before {
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span#a-button1:before, .radio input + span#a-button2:before, .radio input + span#a-button3:before {
  background: rgb(38, 161, 38);
}
.radio input + span#b-button1:before, .radio input + span#b-button2:before, .radio input + span#b-button3:before {
  background: rgb(150, 40, 40);
}
.radio input + span:after {
  background: rgb(231, 228, 228);
  transform: scale(0.78);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
  transform: scale(1.04);
}
.radio input:checked + span:after {
  transform: scale(0.4);
  transition: transform 0.3s ease;
}
.radio input#a-button1:checked + span:before, #a-button2:checked + span:before, #a-button3:checked + span:before {
  background: rgb(157, 187, 143);
  border: 2px solid #285335;
}
.radio input#a-button1:checked + span:after, #a-button2:checked + span:after, #a-button3:checked + span:after {
  background: #6eb37a;
}
.radio input#b-button1:checked + span:before, #b-button2:checked + span:before, #b-button3:checked + span:before {
  background: rgb(201, 145, 145);
  border: 2px solid rgb(104, 51, 20);
}
.radio input#b-button1:checked + span:after, #b-button2:checked + span:after, #b-button3:checked + span:after {
  background: rgb(201, 133, 133);
}
.radio:hover input + span:before {
  transform: scale(0.92);
}
.radio:hover input + span:after {
  transform: scale(0.74);
}
.radio:hover input:checked + span:after {
  transform: scale(0.4);
}



body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}



table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  
 
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}